* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #322941;
    --second-bg-color: #423654;
    --text-color: #fff;
    --main-color: #d090cf;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .6rem 10%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .2rem solid rgba(0, 0, 0, .2);
}

.logo img{
    margin-left: 1.5rem;
    float: left;
    text-align: center;
    border-radius: 20px;
    height: 60px;
    width: 60px;
}

.logo h4{
    text-align: center;
    vertical-align: middle;
    color: var(--text-color);
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;;
}

.navbar a{
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3;
    font-family: 'Black Ops One', cursive;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 18vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-2.4rem);
    }

    100%{
        transform: translateY(0);
    }
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

span{
    color: var(--main-color);
    
}

.home-content h3 span{
    font-family: 'VT323', monospace;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    font-family: 'Lugrasimo', cursive;
}

.home-content p{
    margin-top: 2rem;
    font-size: 1.6rem;
    font-style: italic;
}

.back-video{
    
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.about-img img{
    width: 35vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about{
    background: var(--second-bg-color);
}

.about-content h2{
    text-align: center;
    text-shadow: #d090cf;
    font-size: 4rem;
}

.about-content .abos{
    text-align: initial;
    font-style: italic;
    color: var(--text-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.about-content .heading{
    font-family: 'Special Elite', cursive;;
}

.about-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar{
    margin-bottom: 2.3rem;
}

.about-main h3{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Tangerine', cursive;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: var(--text-color);
    cursor: pointer;
}

.skill-box:hover .skill-title:after, .skill-box:hover .skill-title:before{
    width: 35px;
}

.skill-box:hover .icon{
    transform: translateY(-10px);
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: .5rem;
    position: relative;
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--main-color);
    transition: .5s;
}

.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0 0;
    background-color: var(--main-color);
}

.icon{
    width: 90px;
    height: 90px;
    position: relative;
    color: var(--main-color);
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.icon:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    border-radius: 45px;
}

.skill-title h4{
    font-size: 2rem;
    color: var(--text-color);
    margin: 0.5rem;
    letter-spacing: 2px;
}

.icon{
    font-size: 5rem;
    width: 80px;
    z-index: 2px;
    transition: .5s;
}

.card{
    width: 150px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1{
    background-image: url(sk1.png);
}

.card2{
    background-image: url(sk2.jfif);
}

.card3{
    background-image: url(sk3.png);
}

.col{
    text-align: center;
    font-size: 2rem;
    color: var(--main-colorr);
    text-shadow: 3px 3px 3px var(--second-bg-color)
}

.card:hover{
    transform: translateY(-10px);
}

.about-right{
    grid-template-columns: 1fr 1fr;
}

.about-right h5{
    text-align: center;
    margin-bottom: 2rem;
}

.cd{
    display:inline-table;
    width: 150px;
    height: 200px;
    color: #fff;
    padding: 20px 35px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .2);
    border-radius: 16px;
    margin: 10px 15px;
    margin-top: 14rem;
    box-sizing: border-box;
    background-position: center;
    box-shadow: 0 4px 30px var(--main-color);
    backdrop-filter: blur(5px);
    transition: transform .5s;
}

.cd img{
    text-align: center;
    height: 85px;
    width: 85px;
    border-radius: 40%;
}

.cd h5{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.cd:hover{
    transform: translateY(-10px);
}

.service{
    background: var(--bg-color);
}

.service h2{
    margin-bottom: 4rem;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-container .service-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.service-box img{
    width: 100%;
}

.service-box:hover img{
    transform: scale(1.1);
    transition: .5s ease;
}

.service-box .service-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5 ease;
}

.service-box:hover .service-layer{
    transform: translate(0);
}

.service-layer h3{
    font-size: 2rem;
    text-shadow: 3px 3px 3px var(--bg-color);
}

.service-layer i{
    border-radius: 5rem;
    background-color: var(--bg-color);
    font-size: 6rem;
    color: #b9a9d2;
}

.service-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
    color: var(--bg-color);
    text-shadow: 3px 3px 5px var(--main-color), 3px 3px 5px var(--text-color);
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.row img{
    height: auto;
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 1.5rem ;
}

.row video{
    height: auto;
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 1.5rem ;
}

.row{
    padding: 25px;
    background: var(--bg-color);
    border-radius: .5rem;
    transition: all .40s ease;
}

 .main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
 }

 .row h3{
    font-size: 15px;
    font-weight: 200;
    font-family: 'Rock Salt', cursive;
 }

 .row h6{
    margin-top: 1.5rem;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Rock Salt', cursive;
 }

 .row-icon i{
    font-size: 25px;
 }

 .row:hover{
    transform: translateX(-10px);
    box-shadow: 5px 5px 5px var(--main-color);
 }

.contact{
    background-color: var(--bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

.popup{
    width: 400px;
    background: var(--bg-color);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: var(--main-color);
    visibility: hidden;
    transition: transform 0.4s, top .4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup i{
    font-size: 8rem;
    margin-top: -20px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup p{
    font-size: 18px;
    font-style: italic;
}

.popup button{
    color: var(--text-color);
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: var(--second-bg-color);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}





@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .service{
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .service h2{
        margin-bottom: 3rem;
    }

    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px){
     .service-container{
        grid-template-columns: 1fr;
     }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

@keyframes html{
    0% {
        width: 0%;
    }
    100%{
        width: 68%;
    }
}

@keyframes css{
    0% {
        width: 0%;
    }
    100%{
        width: 71%;
    }
}

@keyframes java{
    0% {
        width: 0%;
    }
    100%{
        width: 38%;
    }
}

@keyframes glow{
    0% {
        background: var(--bg-color);
        box-shadow: none;
    }
    100% {
        background: var(--main-color);
        box-shadow: var(--text-color);
    }
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

